* {
  scroll-behavior: smooth;
  overflow: scroll;
}

.app {
  min-height: 100vh;
  background: #434343;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 380px) {
  .app {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  color: aliceblue;
  margin-bottom: 2rem;
}
